In [2]:
import pandas as pd
label = pd.read_csv('./dataset/net_aminer/author_label.txt', header = None,sep = ' ')

id_author = pd.read_csv('./dataset/net_aminer/id_author.txt', header = None,sep = '\t')
paper_author = pd.read_csv('./dataset/net_aminer/paper_author.txt', header = None,sep = '\t')

label3 = list(label[label[1] == 3][0])

label8 = list(label[label[1] == 8][0])

In [21]:
new_label = label3 + label

In [4]:
id_author.columns = ['id', 'author']
label.columns = ['author', 'label']
author = id_author.merge(label, on = "author")

In [11]:
new_author = author[author['label'] == 3].append(author[author['label'] == 8])

In [15]:
new_author = new_author.reset_index()
new_author['new_id'] = new_author.index

In [18]:
id_dic = new_author.loc[:, ['id', 'new_id']]

In [20]:
paper_author.columns = ['paper_id', 'id']
rel = paper_author.merge(id_dic, on = 'id')

        paper_id       id  new_id
0              2        2   40630
1         228212        2   40630
2         279945        2   40630
3         279993        2   40630
4         280068        2   40630
5         280210        2   40630
6         280225        2   40630
7         280269        2   40630
8         280512        2   40630
9         280529        2   40630
10        280586        2   40630
11        402470        2   40630
12        403120        2   40630
13        428403        2   40630
14        559198        2   40630
15        559498        2   40630
16        585069        2   40630
17        586291        2   40630
18        631940        2   40630
19        631970        2   40630
20        633389        2   40630
21        795945        2   40630
22        798688        2   40630
23        904670        2   40630
24        906215        2   40630
25        910809        2   40630
26        913826        2   40630
27        953146        2   40630
28       1295953        2   40630
29       1398903        2   40630
...          ...      ...     ...
798902   3145236  1679993    8711
798903   3145239  1679994    8716
798904   3145260  1679995    8717
798905   3145261  1679995    8717
798906   3145262  1679995    8717
798907   3145263  1679995    8717
798908   3145264  1679995    8717
798909   3145297  1679996    8714
798910   3145298  1679996    8714
798911   3145345  1679997    8715
798912   3145346  1679997    8715
798913   3145347  1679997    8715
798914   3145348  1679997    8715
798915   3145349  1679997    8715
798916   3145350  1679997    8715
798917   3145367  1679998    8718
798918   3145368  1679998    8718
798919   3145375  1679999    8719
798920   3145375  1680000   12326
798921   3145375  1680001   12327
798922   3145379  1680002   12328
798923   3145411  1680003   12329
798924   3145423  1680004   12330
798925   3145424  1680004   12330
798926   3145425  1680004   12330
798927   3145436  1680005   12331
798928   3145437  1680005   12331
798929   3145450  1680006   12332
798930   3145469  1680007   12333
798931   3145470  1680007   12333

[798932 rows x 3 columns]

In [26]:
# paper_id_dic = pd.DataFrame(columns = ['paper_id', 'new_paper_id'])
paper_id_dic['paper_id'] = rel['paper_id']
paper_id_dic = paper_id_dic.drop_duplicates(subset ="paper_id")
paper_id_dic['new_paper_id'] = paper_id_dic.reset_index().index

/Users/nick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [29]:
new_rel = rel.merge(paper_id_dic, on = 'paper_id')
new_rel

        paper_id       id  new_id  new_paper_id
0              2        2   40630             0
1              2        3   28252             0
2         228212        2   40630             1
3         228212     1166   18185             1
4         228212     1167   22180             1
5         279945        2   40630             2
6         279945     1167   22180             2
7         279945    64450   25294             2
8         279945   323238   32134             2
9         279993        2   40630             3
10        279993     1167   22180             3
11        279993    64450   25294             3
12        279993   323238   32134             3
13        279993   323264   32545             3
14        279993   323265   32546             3
15        279993   323267   28121             3
16        280068        2   40630             4
17        280068      284   23637             4
18        280210        2   40630             5
19        280210   156984   24868             5
20        280225        2   40630             6
21        280225     1167   22180             6
22        280269        2   40630             7
23        280269     1166   18185             7
24        280269     1167   22180             7
25        280512        2   40630             8
26        280512     1167   22180             8
27        280529        2   40630             9
28        280529        3   28252             9
29        280586        2   40630            10
...          ...      ...     ...           ...
798902   3144831  1679973   17396        478833
798903   3144832  1679973   17396        478834
798904   3144833  1679973   17396        478835
798905   3145119  1679986    4421        478836
798906   3145120  1679986    4421        478837
798907   3145121  1679986    4421        478838
798908   3145122  1679986    4421        478839
798909   3145123  1679986    4421        478840
798910   3145124  1679986    4421        478841
798911   3145125  1679986    4421        478842
798912   3145126  1679986    4421        478843
798913   3145156  1679989    4426        478844
798914   3145157  1679989    4426        478845
798915   3145158  1679989    4426        478846
798916   3145159  1679989    4426        478847
798917   3145160  1679989    4426        478848
798918   3145161  1679989    4426        478849
798919   3145162  1679989    4426        478850
798920   3145260  1679995    8717        478851
798921   3145261  1679995    8717        478852
798922   3145262  1679995    8717        478853
798923   3145263  1679995    8717        478854
798924   3145264  1679995    8717        478855
798925   3145367  1679998    8718        478856
798926   3145368  1679998    8718        478857
798927   3145379  1680002   12328        478858
798928   3145436  1680005   12331        478859
798929   3145437  1680005   12331        478860
798930   3145469  1680007   12333        478861
798931   3145470  1680007   12333        478862

[798932 rows x 4 columns]

In [36]:
new_author.loc[:, ['new_id', 'author']].to_csv('./dataset/net_aminer_part/id_author.txt', sep = ' ', header = None, index = None)
new_rel.loc[:, ['new_paper_id', 'new_id']].to_csv('./dataset/net_aminer_part/paper_author.txt', sep = ' ', header = None, index = None)

In [47]:
max(nw_rel['new_id'])

43686

In [48]:
nw_rel = new_rel.loc[:, ['new_id', 'new_paper_id']]
nw_rel['new_paper_id'] += 43687
nw_rel

        new_id  new_paper_id
0        40630         43687
1        28252         43687
2        40630         43688
3        18185         43688
4        22180         43688
5        40630         43689
6        22180         43689
7        25294         43689
8        32134         43689
9        40630         43690
10       22180         43690
11       25294         43690
12       32134         43690
13       32545         43690
14       32546         43690
15       28121         43690
16       40630         43691
17       23637         43691
18       40630         43692
19       24868         43692
20       40630         43693
21       22180         43693
22       40630         43694
23       18185         43694
24       22180         43694
25       40630         43695
26       22180         43695
27       40630         43696
28       28252         43696
29       40630         43697
...        ...           ...
798902   17396        522520
798903   17396        522521
798904   17396        522522
798905    4421        522523
798906    4421        522524
798907    4421        522525
798908    4421        522526
798909    4421        522527
798910    4421        522528
798911    4421        522529
798912    4421        522530
798913    4426        522531
798914    4426        522532
798915    4426        522533
798916    4426        522534
798917    4426        522535
798918    4426        522536
798919    4426        522537
798920    8717        522538
798921    8717        522539
798922    8717        522540
798923    8717        522541
798924    8717        522542
798925    8718        522543
798926    8718        522544
798927   12328        522545
798928   12331        522546
798929   12331        522547
798930   12333        522548
798931   12333        522549

[798932 rows x 2 columns]

In [49]:
new_author.loc[:, ['new_id', 'author']].to_csv('./dataset/net_aminer_homo/id_author.txt', sep = ' ', header = None, index = None)
nw_rel.loc[:, ['new_paper_id', 'new_id']].to_csv('./dataset/net_aminer_homo/paper_author.txt', sep = ' ', header = None, index = None)

In [37]:
max(new_author['new_id'])

43686

In [ ]:
new_id_author

In [3]:
len(paper_author)

9323739

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

Process ForkPoolWorker-3:
Process ForkPoolWorker-4:
Traceback (most recent call last):
Traceback (most recent call last):
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/process.py", line 93, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/pool.py", line 108, in worker
    task = get()
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/queues.py", line 335, in get
    res = self._reader.recv_bytes()
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/queues.py", line 334, in get
    with self._rlock:
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/connection.py", line 216, in recv_bytes
    buf = self._recv_bytes(maxlength)
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/synchronize.py", line 96, in __enter__
    return self._semlock.__enter__()
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/connection.py", line 407, in _recv_bytes
    buf = self._recv(4)
KeyboardInterrupt
  File "/Users/nick/anaconda3/lib/python3.6/multiprocessing/connection.py", line 379, in _recv
    chunk = read(handle, remaining)
KeyboardInterrupt

In [43]:
import numpy as np
hhh = np.array(hh)
hhh[2] = None
hhh

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [45]:
np.isnan(hh)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [64]:
import requests

r = requests.get('http://13.76.133.43:1234/news')
print(r)

ConnectionError: HTTPConnectionPool(host='13.76.133.43', port=1234): Max retries exceeded with url: /news (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x119e97588>: Failed to establish a new connection: [Errno 61] Connection refused',))

In [ ]:
json = pd.read_json('sss.json')

if method == 'GET':
    if src == '/news':
        content = json['news']